{#
/**
 * @file
 * Default theme implementation of the Superfish menus.
 *
 * Available variables:
 * - id: Unique menu identifier.
 * - menu_classes: Menu classes.
 * - menu_items: Menu tree.
 *
 * @see template_preprocess_superfish()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('promotors/mobile_menu_slider') }}
<ul id="{{ id }}" class="{{ menu_classes }}">
  {% if id == 'superfish-main' %}
    <div class="mobile-header">
      <a href="{{ url('<front>') }}"><img src="/{{ directory }}/logo.svg" alt="homepage logo"></a>
      <div class="close-menu"></div>
    </div>
  {% endif %}
  {{ menu_items }}
</ul>
